@font-face {
	 font-family: 'BourgeoisUltra';
	 src: url('https://rocketleague.media.zestyio.com/Bourgeois-Ultra.otf');
}
 @font-face {
	 font-family: 'BourgeoisBold';
	 src: url('https://rocketleague.media.zestyio.com/Bourgeois-Bold.otf');
}
 .title-bar {
	 background: transparent;
	 color: #fff;
	 padding: 0.5rem 0;
}
 .support-link {
	 position: absolute;
	 right: -50px;
	 top: 0px;
}
 .support-link .button {
	 text-transform: uppercase;
	 font-family: "Bourgeois W00 Medium", "Arial Regular", Arial, sans-serif;
	 background-color: rgba(142,142,142,0.3);
	 -webkit-transform: skew(-30deg);
	 -ms-transform: skew(-30deg);
	 transform: skew(-30deg);
	 border-top-left-radius: 5px;
	 border-top-right-radius: 5px;
	 border-bottom-left-radius: 5px;
	 border-bottom-right-radius: 5px;
}
 .support-link a.button.header-featured-button {
	 margin-bottom: 0;
	 font-size: 1rem;
	 padding: 18px 55px 18px 15px;
	 border-radius: 0;
	 text-shadow: none;
	 font-weight: bold;
	 border: none;
	 background-color: #faa41a;
	 background-image: linear-gradient(#faa41a,#f58220);
}
 @media screen and (max-width: 928px) {
	 .support-link a.button.header-featured-button {
		 margin-bottom: 0;
		 font-size: 12px;
		 padding: 18px 46px 18px 15px;
		 border-radius: 0;
		 text-shadow: none;
		 font-weight: bold;
		 border: none;
		 background-color: #faa41a;
		 background-image: linear-gradient(#faa41a,#f58220);
	}
}
 .mobile-nav {
	 background: #000b28;
	 position: absolute;
	 width: 100%;
	 left: -100%;
	 transition: left 0.25s ease-in-out;
}
 #mobile-menu >.menu {
	 margin-top: 0px;
}
 .primary-nav-bar {
	 background-color: #000b28;
	 height: 50px;
	 color: ;
	 position: relative;
	 z-index: 1;
}
 .primary-nav-bar .rl-logo {
	 float: left;
	 display: inline-block;
	 margin-top: 7px;
}
 .primary-nav-bar .logo {
	 width: 100px;
}
 .primary-nav-bar .featured-button {
	 float: right;
	 margin-right: 0;
}
 .primary-nav-bar a.header-buy-button {
	 position: relative;
	 left: 30px;
	 font-family: "BourgeoisUltra", "Arial Regular", Arial, sans-serif;
	 font-size: 1.25rem;
	 padding: 0.825em 3.85em 0.825em 0.85em;
	 background-color: #faa41a;
	 background-image: linear-gradient(#faa41a,#f58220);
	 display: inline-block;
	 text-align: center;
	 text-transform: uppercase;
	 text-shadow: none;
	 line-height: 1;
	 cursor: pointer;
	 -webkit-transform: skew(-30deg);
	 -ms-transform: skew(-30deg);
	 transform: skew(-30deg);
}
 .primary-nav-bar a.header-buy-button span {
	 display: block;
	 -webkit-transform: skew(30deg);
	 -ms-transform: skew(30deg);
	 transform: skew(30deg);
}
 .primary-nav-bar a.header-buy-button span .fa-chevron-up {
	 position: absolute;
	 right: -10px;
}
 .primary-nav-bar a:not(.button) {
	 color: ;
}
 .primary-nav-bar a:not(.button):hover {
	 color: ;
}
 .primary-nav-bar .dropdown.menu:not(.vertical) >li:hover a {
	 color: #FFF;
}
 .primary-nav-bar .dropdown.menu {
	 margin-left: 8.75rem;
}
 .primary-nav-bar .dropdown.menu a {
	 font-family: "BourgeoisBold", "Arial Regular", Arial, sans-serif;
	 font-size: 1rem;
	 text-transform: uppercase;
	 letter-spacing: 0.01736rem;
}
 .primary-nav-bar .dropdown.menu >li {
	 height: 50px;
	 border-bottom: 3.5px solid #000b28;
	 transition: all 0.25s ease;
}
 .primary-nav-bar .dropdown.menu >li a {
	 color: #cccccc;
	 padding-left: 0.5rem;
	 padding-right: 0.5rem;
	 margin: 0 1rem;
}
 .primary-nav-bar .dropdown.menu >li a span {
	 display: block;
}
 .primary-nav-bar .dropdown.menu >li a span .fa-chevron-up {
	 position: absolute;
	 right: -10px;
}
 .primary-nav-bar .dropdown.menu >li:hover, .primary-nav-bar .dropdown.menu >li.active {
	 border-bottom: 3.5px solid #019ff2;
}
 .primary-nav-bar .dropdown.menu >li[data-is-click=true] {
	 background-color: #ffffff;
	 background-image: linear-gradient(#ffffff,#899faa);
}
 .primary-nav-bar .dropdown.menu >li[data-is-click=true] a {
	 color: ;
}
 .primary-nav-bar .dropdown.menu >li.active a {
	 color: #FFF;
}
 .primary-nav-bar .dropdown.menu ul.menu li {
	 display: table-cell;
}
 .primary-nav-bar .dropdown.menu ul.menu li:hover {
	 background: #011e6f;
}
 .primary-nav-bar .dropdown.menu ul.menu li:hover a {
	 color: ;
}
 .primary-nav-bar .dropdown.menu ul.menu li a {
	 color: ;
	 width: 100% !important;
	 white-space: nowrap !important;
}
 .mobile-title-bar.title-bar {
	 background-color: #000b28;
}
 .buy-game-dropdown {
	 background: #000b28;
	 max-width: 50vw;
	 position: absolute;
	 right: -100%;
	 transition: right 0.25s ease-in-out;
}
 @media screen and (min-width: 928px) {
	 .buy-game-dropdown {
		 max-width: 20vw;
	}
}
 .buy-game-dropdown a.button:hover {
	 color: #000;
	 background-color: #ffffff45;
	 border-color: #fff;
}
 .buy-game-dropdown a.button {
	 -webkit-transform: skew(0deg);
	 -ms-transform: skew(0deg);
	 transform: skew(0deg);
	 width: 90%;
	 margin: 10px;
	 min-height: 47px;
	 padding: 11.5px;
	 border-radius: 0;
}
 .buy-game-dropdown a.button img {
	 -webkit-transform: skew(0deg);
	 -ms-transform: skew(0deg);
	 transform: skew(0deg);
}
 .buy-game-dropdown a.button img.steam {
	 height: 28px;
}
 .buy-game-dropdown a.button img.ps4 {
	 height: 19px;
}
 .buy-game-dropdown a.button img.xboxone {
	 height: 19px;
}
 .buy-game-dropdown a.button img.switch {
	 height: 19px;
}
 .search-filter {
	 font-family: "Bourgeois W00 Medium", "Arial Regular", Arial, sans-serif;
	 font-weight: normal;
	 font-style: normal;
	 text-transform: uppercase;
}
 .main-btn {
	 font-size: 1.25vw;
	 z-index: 999;
	 float: left;
	 display: inline-block;
	 color: white;
	 text-align: center;
	 text-decoration: none;
	 padding-top: 12px;
	 cursor: pointer;
	 box-shadow: -1px 3px 5px rgba(0,0,0,0.3);
	 transition: 0.25s;
}
 .search-filter ul {
	 text-align: center;
	 position: absolute;
	 z-index: 990;
	 margin: 0 auto;
	 left: 0;
	 right: 0;
	 opacity: 1;
	 transition: 0.35s;
	 top: 50px;
	 height: auto;
	 background: #000b28;
	 width: 100vw;
	 padding-top: 1.5%;
}
 .search-filter ul li {
	 list-style-type: none;
	 display: inline-block;
	 margin: 0 2.5px;
	 margin-bottom: 5px;
	 padding: 2.5px 5px 0;
	 border: 1px solid #023;
	 border-radius: 5px;
	 font-size: 12px;
	 cursor: pointer;
	 line-height: 1.25;
	 color: #fff;
	 background-color: #097eff;
}
 .search-filter ul li.search {
	 padding: 5px;
	 display: block;
	 border: none;
	 background: none transparent;
}
 .search-filter ul li.tag:hover.announcements, .search-filter ul li.tag:focus.announcements {
	 background-color: #006cff;
}
 .search-filter ul li.tag:hover.community, .search-filter ul li.tag:focus.community {
	 background-color: #ff7200;
}
 .search-filter ul li.tag:hover.cross-promotional-news, .search-filter ul li.tag:focus.cross-promotional-news {
	 background-color: #eec400;
}
 .search-filter ul li.tag:hover.developer-news, .search-filter ul li.tag:focus.developer-news {
	 background-color: #d90a00;
}
 .search-filter ul li.tag:hover.esports-category, .search-filter ul li.tag:focus.esports-category {
	 background-color: #00b957;
}
 .search-filter ul li.tag:hover.events-1, .search-filter ul li.tag:focus.events-1 {
	 background-color: #8a00c4;
}
 .search-filter ul li.tag:hover.patch-notes, .search-filter ul li.tag:focus.patch-notes {
	 background-color: #00d8e6;
}
 .view-archive .search-filter ul li.tag.active {
	 filter: brightness(1.5);
}
 .search-filter ul li a {
	 width: 42px;
	 height: 42px;
	 padding-top: 8px;
}
 .search-filter ul.toggled {
	 opacity: 1;
	 height: auto;
	 width: 100vw;
	 display: block;
}
 #search-btn {
	 background: #19A3FF;
	 text-transform: uppercase;
	 color: white;
	 padding: 5px 20px;
	 border-radius: 0 5px 5px 0;
	 border: 0 none;
	 font-weight: bold;
}
 #search-btn:hover, #search-btn:focus {
	 filter: brightness(1.5);
}
 #search-box {
	 background: #eee;
	 padding: 5px 10px;
	 border-radius: 5px 0 0 5px;
	 border: 0 none;
	 width: 22.5%;
}
 .clear-search {
	 font-family: "Bourgeois W00 Medium", "Arial Regular", Arial, sans-serif;
	 text-transform: uppercase;
}
 a.search-btn, a.language-btn {
	 font-size: 18px;
	 margin: 0px 5px;
	 line-height: 1;
}
 .language-filter {
	 text-align: center;
	 position: absolute;
	 z-index: 990;
	 opacity: 1;
	 transition: 0.35s;
	 top: 50px;
	 right: 7.5vw;
	 height: auto;
	 background: #000b28;
	 width: 17.5vw;
	 padding-top: 1.5%;
}
 .language-filter ul {
	 margin-bottom: 2rem;
	 margin-left: 0;
}
 .language-filter ul li {
	 font-family: "Bourgeois W00 Medium", "Arial Regular", Arial, sans-serif;
	 list-style-type: none;
	 text-transform: uppercase;
}
 .language-filter ul li a {
	 color: #ccc;
}
 .language-filter ul li a:hover, .language-filter ul li a:focus {
	 color: #eee;
}
 a.search-btn:focus {
	 outline: none;
}
 a.language-btn:focus {
	 outline: none;
}
 @media screen and (min-width: 928px) {
	 .main-btn {
		 position: relative;
		 left: 15%;
	}
}
 @media screen and (min-width: 928px) and (max-width: 1024px) {
	 .primary-nav-bar .dropdown.menu a {
		 font-size: 0.675rem;
	}
}
 @media screen and (min-width: 1024px) {
	 .main-btn {
		 position: relative;
		 left: 25%;
	}
}
 @media screen and (min-width: 1024px) and (max-width: 1150px) {
	 .primary-nav-bar a.header-buy-button {
		 font-size: 1.2rem;
	}
}
 @media screen and (min-width: 1680px) {
	 .main-btn {
		 position: relative;
		 left: 35%;
		 padding-top: 7px;
		 font-size: 22.5px;
	}
}
 